{% extends "modals.html" %}

{% block title %} {% endblock %} 

{% block head %}

  <link rel ="stylesheet" href = "{{ url_for('static', filename = 'profile.css') }}">

{% endblock %}

{% block content %}


<div class = "scroll">
  
{% if msg %}

{% for msg in msg %}

{% if msg.sender == username and msg.receiver == user.username %}

<div class="parent d-flex flex-row mx-2 my-3">
  
  <p class="msg me-3 px-3 border border-secondary rounded-pill "> {{msg.content}} </p>
  
</div>

{% endif %}

{% if msg.sender == user.username and msg.receiver == username %}

<div class="parent d-flex flex-row-reverse mx-2 my-3">
  
  <p class="msg px-3 border border-secondary rounded-pill rounded-0"> {{msg.content}} </p>
  
</div>

{% endif %}

{% endfor %}

<div id = "newentry">
  
</div>

{% endif %}
  
  
</div>


<div class="input-group mb-3">
  <input id = "content" type="text" class="form-control" placeholder="Type a message."  aria-describedby="button-addon2">
  <button onclick="send_message()"class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
</div>
{% endblock %}

{% block script %}


<script src ="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>

<script>
let socket = io()
let new_entry = document.getElementById('newentry')
let ids = "{{uid}}"


socket.on('connect', function() {
        socket.emit('receive', {
          room_id: ids
        })
    }) 
    
    
let current_user = "{{user.username}}"
let target = "{{username}}"

socket.on('add_element', function(msg) {
  if (msg.sender == current_user){
    let p
    let div
    div = document.createElement('div')
    div.className = "d-flex flex-row-reverse mx-2 my-3"
    p = document.createElement('p')
    p.className = " msg px-3 border border-secondary rounded-pill rounded-0"
    p.innerText = msg.content
    div.appendChild(p)
    new_entry.appendChild(div)
  }
  
  
  else{
    let div2
    let p2
   div2 = document.createElement('div')
    div2.className = "d-flex mx-2 my-3"
    p2 = document.createElement('p')
    p2.className = " msg px-3 border border-secondary rounded-pill rounded-0"
    p2.innerText = msg.content
    div2.appendChild(p2)
    new_entry.appendChild(div2)
}
}
)






function send_message() {

let sender = "{{user.username}}"
let receiver = "{{username}}"
let id = "{{uid}}"
let content = document.getElementById("content")

let data = {
  sender: sender,
  receiver: receiver,
  content: content.value
}

fetch(`${window.origin}/send_message`, {
    method: "POST",
    credentials: "include",
    body: JSON.stringify(data),
    cache: "no-cache",
    headers: new Headers({
      "content-type": "application/json"
    })
  })

socket.emit('message receive', {
 sender: sender,
 receiver: receiver,
 content: content.value,
 room_id: id
})

content.value = ""




}
/* after the page */






</script>



{% endblock %} 